body 
    background-image: linear-gradient($white, $white, $butter)
    min-height: 100vh
.container
    max-width: 1000px
    margin: 0 auto
input, button
    background-color: initial
    border: initial
    cursor: pointer
    padding: initial
    line-height: 0
    &:focus, &:focus
        outline: initial
li
    list-style: none
ul
    padding: initial
body 
    font-family: barlow
input[type="button"]
    padding: initial
p 
    margin: initial
    
    