.listed-products
    position: relative
    top: 150px
    &__sum
        width: 300px
        height: 300px
    &__img
        width: 300px
        height: 150px
        object-fit: cover
        object-position: 50% 50%
    &__info
        display: flex
        justify-content: space-between